body{
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    background: white;
}

::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 10px;
}


#nav-head{
    width: 100vw;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.927);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-left: -8px; */
}

#globe{
    display: flex;
    flex-direction: row;
    border: 2px solid transparent;
}

@media(max-width: 490px) {
    #globe {
        margin-left: -27px;

    }

}


#txt-globe{
    font-size: 16px;
    color: white;
    margin: 3px 0px 0px 5px;
    text-decoration: none;
}

@media(max-width: 490px) {
    #txt-globe {
        font-size: 14px;
        margin-top: 5px;
    }

}

@media(max-width: 1150px) {
    #txt-globe {
        display: none;
    }

}


#txt-globe:hover{
    color: #ed1c24;
}



#nav-global{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 3px;
    
}

@media(max-width: 1150px) {
    #nav-global {
        margin-left: 40px;

    }

}


#nav-line{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

@media(max-width: 490px){
    #nav-line{
        margin-left: 7px;

    }

}

@media(max-width: 1150px) {
    #nav-line {
        margin-left: 10px;

    }

}


#nav-img{
    width: 28px;
    height: 18.67px;
    background-image: url("ind-flag.webp");
    background-size: cover;
    margin-left: 45px;
    margin-top: 4px;
    
}

@media(max-width: 1150px) {
    #nav-img {
        margin-left: 30px;

    }

}


#nav-location{
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

#nav-domestic{
    margin: 3px 0px 0px 5px;


}
#nav-domestic:hover{
    color: #ed1c24;
}

@media(max-width: 490px) {
    #nav-domestic {
        font-size: 14px;
        margin-top: 4px;
    }

}

@media(max-width: 1150px) {
    #nav-domestic {
        display: none;
    }

}



#nav-service{
    width: 177px;
    height: 55px;
    background-color: #ed1c24;
    color: #FFFFFF;
    position: absolute;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

@media (max-width : 490px){
    #nav-service{
        right: 30px;
    }

}

@media(max-width: 490px) {
    #nav-service {
        width: 160px;
    }
}

@media (max-width : 360px) {
    #nav-service {
        width: 120px;
        /* right: 20px; */
    }

}

@media(max-width: 360px) {
    #nav-service {
        width: 140px;
    }
}


@media(max-width: 300px) {
    #nav-service {
        width: 130px;
    }
}



#nav-service:hover{
    background-color: white;
    color: grey;
}

#txt-service{
    font-size: 14px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}



/* header css code complete here */



/* main css code starts here */

.btn , .btn-secondary, .dropdown-toggle{
    background-color: transparent;
    color: black;
    border: 0px solid transparent;
    margin-top: -3px;

}

.btn , .btn-secondary, .dropdown-toggle:hover{
    background-color: transparent;
    border: 0px solid transparent;
    color: black;
    
}

.btn:hover{
    color: #ed1c24;
}


#body-section{
    height: 140px;
    width: 100vw;
    background-color: white;
    position: sticky;
    top: -1px;
    padding-top: 20px;
    box-shadow: 2px 2px 2px  grey ;
    z-index: 1;
}

@media(max-width:1200px){
    #body-section{
        height: 100px;
    }
}

@media(max-width:1175px) {
    #body-section {
        height: 80px;
    }
}



#varuna-logo{
    width: 200px;
    height: 173px;
    background-image: url("main-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    left: 50px;
    

}

@media(max-width:1200px){
    #varuna-logo{
        width: 120px;
        height: 80px;
        top: 30px;
        left: 3px;
    }
}
/* @media(min-width:1200px){
    #varuna-logo{
        width: 120px;
        height: 80px;
        top: 10px;
        left: 3px;
    }
} */


#main-logo{
    width: 196px;
    height: 60px;
    opacity: 0;

}
@media(min-width:370px){
    #main-logo{
        width: 170px;
    }
}


#nav-menu{
    display: flex;
    flex-direction: row;
    margin-left: 360px;
    gap: 25px;
    padding-top: 20px;
}
@media(max-width: 1201px){
    #nav-menu{
        display: none;
    }
}

.menu-select{
    border: 0px transparent;
    font-size: 17px;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
}

.menu-select:hover{
    color: #ed1c24;
}


.menu-contact{
    text-decoration: none;
    font-size: 17px;
    color: #000000;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 900px;
    border: transparent;
}
@media(max-width: 1201px){
    .menu-contact{

        display: none;
    }
}


@media(max-width: 800px){
    .menu-select{
        /* opacity: 0; */
        display: none;
    }
} 



#contact-icon{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 150px;
    margin-top: -69px;
    font-size: 20px;
}
@media(max-width:1200px){
    #contact-icon{
        margin-top: 30px;
    }
}

@media(max-width:1176px) {
    #contact-icon {
        margin-top: 20px;
    }
}


#search-icon{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 95px;
    
    margin-top: -33px;
    font-size: 23px;
}



#hamburger{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
    font-size: 24px;
    margin-top: -39px;
}

@media(min-width:1202px){
    #hamburger{
        display: none;
    }
}

/* menu for new ends here*/



/* main code starts from here  */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    padding-left: 30px;
    padding-top: 40px;
  }
  
  .grid-item {
    width: 300px;
    height: 300px;
    background-color: white; /* Change this to the desired background color */
    padding: 12px;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
  }
  
  .grid-image {
    width: 100%;
    height: 220px;
    display: block;
    border-radius: 5px;
  }
  
  .grid-caption {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    height: 40px;
    color: white;
    background-color: red;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    height: 40px; /* Set the height of the caption div to 30px */
  }
  
  @media (max-width: 1200px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
  .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
  .grid-item {
      width: 100%;
      height: auto;
    }
  }

  footer{
    width: 100vw;
    height: auto;
    background-color: rgba(211, 211, 211, 0.322);
    margin-top: 120px;
}



  .footer-5div{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-5things{
    flex-grow: 1;
    flex-basis: 200;
    width: 265px;
    height: 200px;
    background-color: red;
}

.footertxt{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    text-decoration: none;
    color: black;
}

.footertxt:hover{
    color: red;
}

.footer2{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: -50px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-lastsection{
    flex-basis: 200;
    flex-grow: 1;
    width: 170px;
    height: 80px;
    background-color: red;
    font-size: 18px;
    
}

#footer-icons{
    margin: 10px;
    /* padding-top: 10px; */
}

#footer-icons:hover{

    color: red;

}
























/* this code is for back to the top */

#back-top{
    position: sticky;
    background-color: #ed1c24;
    width: 30px;
    height: 30px;
    text-align: center;
    align-content: center;
    padding: 5px;
    left: 1200px;
    bottom: 10px;
    border-radius: 5px;
    
}


@media(min-width:1380px){
    #back-top{
        left: 1350px;
    }
}

@media(min-width:1470px){
    #back-top{
        left: 1420px;
    }
}

@media(min-width:1500px){
    #back-top{
        left: 1460px;
    }
}

@media(min-width:1570px){
    #back-top{
        left: 1510px;
    }
}

@media(min-width:1600px){
    #back-top{
        left: 1560px;
    }
}

@media(min-width:1640px){
    #back-top{
        left: 1610px;
    }
}

@media(min-width:1690px){
    #back-top{
        left: 1660px;
    }
}
@media(max-width:1210px){
    #back-top{
        left: 1120px;
    }
}
@media(max-width:1150px){
    #back-top{
        left: 1080px;
    }
}
@media(max-width:1120px){
    #back-top{
        left: 1050px;
    }
}
@media(max-width:1090px){
    #back-top{
        left: 1030px;
    }
}
@media(max-width:1075px){
    #back-top{
        left: 1010px;
    }
}
@media(max-width:1055px){
    #back-top{
        left: 980px;
    }
}
@media(max-width:1020px){
    #back-top{
        left: 960px;
    }
}
@media(max-width:1000px){
    #back-top{
        left: 935px;
    }
}
@media(max-width:975px){
    #back-top{
        left: 905px;
    }
}
@media(max-width:955px){
    #back-top{
        left: 885px;
    }
}
@media(max-width:920px){
    #back-top{
        left: 855px;
    }
}
@media(max-width:890px){
    #back-top{
        left: 825px;
    }
}
@media(max-width:865px){
    #back-top{
        left: 795px;
    }
}
@media(max-width:840px){
    #back-top{
        left: 770px;
    }
}
@media(max-width:810px){
    #back-top{
        left: 750px;
    }
}
@media(max-width:792px){
    #back-top{
        left: 737px;
    }
}
@media(max-width:786px){
    #back-top{
        left: 720px;
    }
}
@media(max-width:770px){
    #back-top{
        left: 695px;
    }
}
@media(max-width:745px){
    #back-top{
        left: 675px;
    }
}
@media(max-width:721px){
    #back-top{
        left: 655px;
    }
}
@media(max-width:705px){
    #back-top{
        left: 635px;
    }
}
@media(max-width:681px){
    #back-top{
        left: 605px;
    }
}
@media(max-width:654px){
    #back-top{
        left: 590px;
    }
}
@media(max-width:638px){
    #back-top{
        left: 575px;
    }
}
@media(max-width:624px){
    #back-top{
        left: 565px;
    }
}
@media(max-width:610px){
    #back-top{
        left: 555px;
    }
}
@media(max-width:600px){
    #back-top{
        left: 540px;
    }
}
@media(max-width:583px){
    #back-top{
        left: 520px;
    }
}
@media(max-width:571px){
    #back-top{
        left: 500px;
    }
}
@media(max-width:545px){
    #back-top{
        left: 480px;
    }
}
@media(max-width:524px){
    #back-top{
        left: 460px;
    }
}
@media(max-width:501px){
    #back-top{
        left: 440px;
    }
}
@media(max-width:480px){
    #back-top{
        left: 420px;
    }
}
@media(max-width:468px){
    #back-top{
        left: 400px;
    }
}
@media(max-width:445px){
    #back-top{
        left: 380px;
    }
}
@media(max-width:423px){
    #back-top{
        left: 365px;
    }
}
@media(max-width:405px){
    #back-top{
        left: 350px;
    }
}
@media(max-width:395px){
    #back-top{
        left: 335px;
    }
}
@media(max-width:378px){
    #back-top{
        left: 320px;
    }
}
@media(max-width:360px){
    #back-top{
        left: 305px;
    }
}


