<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('includes/head')%>
</head>
<body>

  <!-- header code starts from here -->

    <%-include('includes/header')%>

  <!-- section ends here -->


  <img src="public/img/about-varuna-img.jpg" alt="" style="width: 100vw; height: 220px; opacity: 1;">
  <h4
    style="margin-top: -200px; font-weight: 800px; opacity: 9; text-align: center; margin-left: -60px; padding-top: 40px;">
    About</h4>
  <h5 style="text-align: center;"><a href="index.html"
      style="color: red; text-decoration: none;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;<a
      href="about-varuna.html" style="color: red; text-decoration: none;">About Varuna
    </a></h5>


  <main>

    <div class="main-1partdiv">
      <div class="main1-3div">
        <h4 style="margin-left: 25px;  padding: 20px;" class="main-1txt">About us
        </h4>

        <div class="main1-img" style="background-image: url(public/img/About-Us-img.webp);">
        </div>

        <a href="about-company.html" style="color: white; text-decoration: none;">
          <h5 style="margin-left: 120px; margin-top: -43px;">click here</h5>
        </a>

        <a href="about-company.html">
          <div class="circle"
            style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 200px; margin-top: -43px;">
            <i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red; margin-left: 20px;"></i>
          </div>
        </a>

        <p style="padding-top: 30px; padding-left: 25px; padding-right: 10px;" class="main-1txt">With a pan-India
          presence of over 20 branches and 600+ distributors, Varuna Electric brings innovative pumping solutions to the
          global market
        </p>
      </div>

      <div class="main1-3div">
        <h4 style="margin-left: 25px; padding: 20px;">Board of Directors
        </h4>

        <div class="main1-img" style="background-image: url(public/img/BOD.png.webp);"></div>

        <a href="bod.html" style="color: black; text-decoration: none;">
          <h5 style="margin-left: 120px; margin-top: -43px;">click here</h5>
        </a>

        <a href="bod.html">
          <div class="circle"
            style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 200px; margin-top: -43px;">
            <i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red; margin-left: 20px;"></i>
          </div>
        </a>


        <p style="padding-top: 30px; padding-left: 25px; padding-right: 10px;">Our Board of Directors helps ensure that
          our company continues to operate smoothly and efficiently.
        </p>
      </div>

      <div class="main1-3div">
        <h4 style="margin-left: 25px;  padding: 20px;">Milestones
        </h4>

        <div class="main1-img" style="background-image: url(public/img/Milestones.png.webp);"></div>

        <a href="milestone.html" style="color: black; text-decoration: none;">
          <h5 style="margin-left: 120px; margin-top: -43px;">click here</h5>
        </a>

        <a href="milestone.html">
          <div class="circle"
            style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 200px; margin-top: -43px;">
            <i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red; margin-left: 20px;"></i>
          </div>
        </a>


        <p style="padding-top: 30px; padding-left: 25px; padding-right: 10px;">Over the years, we have proved on several
          occasions to be a recognized leader of the pumping market.
        </p>
      </div>
    </div>



    <div class="main-2partdiv" stylbe="margin-top: -30px;">
      <div class="main2-3div">
        <h4 style="margin-left: 25px;  padding: 20px;">Infrastructure
        </h4>

        <div class="main1-img" style="background-image: url(public/img/infastructure-img.jpg);"></div>

        <a href="infrastructure.html" style="color: white; text-decoration: none;">
          <h5 style="margin-left: 110px; margin-top: -43px;">click here</h5>
        </a>

        <a href="infrastructure.html">
          <div class="circle"
            style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 190px; margin-top: -43px;">
            <i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red; margin-left: 20px;"></i>
          </div>
        </a>


        <p style="padding-top: 30px; padding-left: 25px; padding-right: 10px;">What makes our great products even better
          is our highly-equipped and well-developed infrastructure facility.
        </p>
      </div>

      <div class="main2-3div">
        <h4 style="margin-left: 25px;  padding: 20px;">Company Policies
        </h4>

        <div class="main1-img" style="background-image: url(public/img/company-policy-img.webp);"></div>

        <a href="company-policy.html" style="color: white; text-decoration: none;">
          <h5 style="margin-left: 120px; margin-top: -43px;">click here</h5>
        </a>

        <a href="company-policy.html">
          <div class="circle"
            style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 200px; margin-top: -43px;">
            <i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red; margin-left: 20px;"></i>
          </div>
        </a>


        <p style="padding-top: 30px; padding-left: 25px; padding-right: 10px;">The functioning of our company is
          transparent in nature and we abide by our policies under all circumstances.
        </p>
      </div>

      <div class="main2-3div">
        <h4 style="margin-left: 25px;  padding: 20px;">Quality Policy
        </h4>

        <div class="main1-img" style="background-image: url(public/img/Quality-policy-img.webp);"></div>

        <a href="quality-policy.html" style="color: red; text-decoration: none;">
          <h5 style="margin-left: 120px; margin-top: -43px;">click here</h5>
        </a>

        <a href="quality-policy.html">
          <div class="circle"
            style="color: red; height: 50px; width: 50px; border-radius: 50%;border: 2px solid red; border-left: 2px solid transparent; margin-left: 200px; margin-top: -43px;">
            <i class="fa-solid fa-chevron-right" style="margin-top: 15px; color: red; margin-left: 20px;"></i>
          </div>
        </a>


        <p style="padding-top: 30px; padding-left: 25px; padding-right: 10px;">At Varuna, ‘quality’ is a keyword. Thus,
          we are committed to delivering the best products and services to our customers.
        </p>
      </div>
    </div>

  </main>


  <footer>

    <div class="footer-part">

      <div class="footer-5div">

        <div class="footer-5things" style="background-color: transparent;">
          <h4>Quick Links</h4>
          <a href="index.html" class="footertxt">Home</a>
          <a href="about-varuna.html" class="footertxt">About Varuna</a>
          <a href="Career.html" class="footertxt">Career</a>
          <a href="Contact.html" class="footertxt">Contact</a>
          <a href="csr.html" class="footertxt">CSR</a>
        </div>


        <div class="footer-5things" style="background-color: transparent;">
          <h4>Products</h4>
          <a href="Energy Efficent-Induction.html" class="footertxt">Induction Motors</a>
          <a href="Borewell Submersible.html" class="footertxt">Submersible Pupms</a>
          <a href="Centrifugal Monoblock.html" class="footertxt">Monoblock Pumps</a>
          <a href="Centrifugal Regenerative.html" class="footertxt">Self-Priming Pumps</a>
          <a href="Solar Pumping System.html" class="footertxt">Solar Pumps</a>
        </div>

        <div class="footer-5things" style="background-color: transparent;">
          <h4>Application</h4>
          <a href="Agriculture.html" class="footertxt">Agriculture</a>
          <a href="Commercial.html" class="footertxt">Commercial</a>
          <a href="Domestic&residental.html" class="footertxt">Domestic / Residental</a>
          <a href="Industrial.html" class="footertxt">Industrial</a>
          <a href="Solar.html" class="footertxt">Solar</a>
        </div>

        <div class="footer-5things" style="background-color: transparent;">
          <h4>Media</h4>
          <a href="Events.html" class="footertxt">Events</a>
          <a href="News.html" class="footertxt">News</a>
          <a href="Gallery.html" class="footertxt">Gallery</a>
        </div>


        <div class="footer-5things" style="background-color: transparent;">
          <h4>Contact</h4>

          <p>La-Gajjar Machineries Pvt. Ltd.
            CIN :: U17110GJ1981PTC004263
          </p>

          <p>Acidwala estate, Nagarwel Hanuman Road, Amraiwadi, Ahmedabad - 380 026 Gujarat. (INDIA)
          </p>
        </div>

      </div>

    </div>


    <div class="footer2">

      <div class="footer-lastsection" style="background-color: transparent;">
        <p style="padding-left: 25px;">Toll free</p>
        <i class="fa-solid fa-phone" style="color: red;"></i> <span style="color: red;">1800 258 2565
        </span>
      </div>


      <div class="footer-lastsection" style="background-color: transparent;">
        <p style="padding-left: 25px;">Contact</p>
        <i class="fa-solid fa-phone" style="color: red;"></i> <span style="color: red;">+91-79-22777485 / 487
        </span>
      </div>


      <div class="footer-lastsection" style="background-color: transparent;">
        <p style="padding-left: 25px;">Mail us</p>
        <i class="fa-regular fa-envelope" style="color: red;"></i> <span style="color: red;">crm@lgmindia.com
        </span>
      </div>


      <div class="footer-lastsection" style="background-color: transparent;">
        <i class="fa-brands fa-facebook-f" id="footer-icons"></i>
        <i class="fa-brands fa-linkedin-in" id="footer-icons"></i>
        <a href="https://www.instagram.com/varunaelectric?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          style="color: black;"><i class="fa-brands fa-instagram" id="footer-icons"></i></a>
        <a href="https://youtube.com/@varunapumps?si=RJ2O2EUKYH3WRSbz" style="color: black;"><i
            class="fa-brands fa-youtube" id="footer-icons"></i></a>
      </div>


    </div>

    <div style="height: 100px;">
      <p style="padding-left: 40px; padding-top: 30px;">Copyright © 2024 La-Gajjar Machineries Pvt.Ltd. All Rights
        reserved.</p>

    </div>


  </footer>






  <div id="back-top">
    <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
  </div>





</body>

</html>