<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company-policy</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="public/css/company-policy.css">
    <link rel="stylesheet" href="public/css/utility.css">
    <script src="jquery-3.7.1.js"> </script>
  <script>
  $(document).ready(function () {
    $("#hamburger").click(function () {
              $("#hamburger-slide").show();
              $("#hamburger-slide").css({ "height": "150vh", "width": "100vw", "left": "0px", "background-color": "white", "position": "absolute", "top": "-70px", "z-index": "10" });
          });

          $("#cross-icon").click(function(){
              // $("#hamburger").hide();
              $("#hamburger-slide").slideUp();
              // $("#hamburger-slide").css({ "display": "none" });
              // $("#hamburger").show();
          });
         

          
  });
</script>

</head>

<body>
    <!-- header code starts from here -->

    <header id="nav-head">

        <div id="globe">
            <a href="global-head.html" id="nav-global"><i class="fa-solid fa-earth-asia"
                    style="font-size: 23px;"></i></a>
            <a href="global-head.html" id="txt-globe">Global</a>
        </div>

        <div id="nav-line">
            <i class="fa-solid fa-grip-lines-vertical" style="margin-left: 23px;"></i>
        </div>

        <a href="index.html" id="nav-location">
            <div id="nav-img"> </div>
            <p id="nav-domestic">Domestic</p>
        </a>


        <a href="Service-center.html" id="nav-service">
            <i class="fa-solid fa-location-dot" style="font-size: 20px;"></i>
            <p id="txt-service">Service Locator</p>
        </a>

    </header>

    <section id="body-section">

        <div id="varuna-logo">
            <a href="index.html"><img src="public/img/main-logo.png" id="main-logo" alt=""></a>
        </div>

        <nav id="nav-menu">

            <p class="menu-select">
                <a href="index.html" class="menu-select">Home</a>
            </p>


            <!-- <select name="menu" class="menu-select">
        <option value="about"><a href="about-varuna.html">About Varuna</a></option>
        <option value="about us"><a href="hamburger.html">About us</a></option>
    </select>
    <select name="menu" class="menu-select">
        <option value="product"><a href="product.html">Product</a></option>
    </select>
    <select name="menu" class="menu-select">
        <option value="application"><a href="application.html">Application</a></option>
    </select>
    <select name="menu" class="menu-select">
        <option value="career"><a href="career.html">Career</a></option>
    </select>
    <select name="menu" class="menu-select">
        <option value="media"><a href="media.html">Media</a></option>
    </select> -->

            <!-- dropdown list from bootstrap -->


            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    About varuna
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="about-varuna.html">About Varuna</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="about-company.html">About us</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="bod.html">Board Of Directors</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="milestone.html">Milestone</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="infrastructure.html">Infrastructres</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="company-policy.html">Conmpany Policies</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="quality-policy.html">Quality Policy</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Products
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="Products.html">Products</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Borewell Submersible.html">Borewell Submersible Pumps</a>
                    </li>
                    <hr>
                    <li><a class="dropdown-item" href="Openwell Submersible.html">Openwell Submersible Pumps</a>
                    </li>
                    <hr>
                    <li><a class="dropdown-item" href="Centrifugal Monoblock.html">Centrifugal Monoblock Pumps</a>
                    </li>
                    <hr>
                    <li><a class="dropdown-item" href="Energy Efficent-Induction.html">Energy Efficent-Induction
                            Mototrs</a>
                    </li>
                    <hr>
                    <li><a class="dropdown-item" href="Centrifugal Regenerative.html">Centrifugal Regenerative <br> Self
                            Priming
                            Pumps</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Solar Pumping System.html">Solar Pumping System</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Applications
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="Agriculture.html">Agriculture</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Commercial.html">Commercial</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Domestic&residental.html">Domestic / Residental</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Industrial.html">Industrial</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Solar.html">Solar</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Career
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="Career.html">Career</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Job-openings.html">Job Openings</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Life-at-varuna.html">Life At Varuna</a></li>
                </ul>
            </div>


            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Media
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="Media.html">Media</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Events.html">Events</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="News.html">News</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Gallery.html">Gallery</a></li>
                </ul>
            </div>

            <p class="menu">
                <a href="csr.html" class="menu-select">CSR</a>
            </p>

        </nav>




        <div class="menu-contact">
            <!-- <select name="menu" class="menu-contact">
        <option value=""><a href="contact.html" class="menu-contact">Contact</a></option>
    </select> -->

            <!-- dropdown list from bootstrap -->

            <p style="margin-right: 30px;"><a href="login.html" style="text-decoration: none; color: black;">Login</a>
            </p>

            <p style="margin-right: 30px;"><a href="suggestion.html"
                    style="text-decoration: none; color: black;">Suggestion</a>
            </p>


            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Contact
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="Contact.html">Contact</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Address.html">Addresses</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Service-center.html">Service Center</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Complaint-form.html">Complaint Form</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Warranty-registraion.html">Warranty Registration</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="Write-to-us.html">Write To Us</a></li>
                </ul>
            </div>
        </div>



        <div id="contact-icon">
            <a href="contact-company-policy.html"><i class="fa-solid fa-phone-volume" style="color: grey;"></i></a>
        </div>

        <div id="search-icon">
            <a href="search-company-policy.html"><i class="fa-solid fa-magnifying-glass" style="color: grey;"></i></a>
        </div>


        <div id="hamburger">
      <!-- <a href="hamburger.html"></a> -->
      <i class="fa-solid fa-bars" style="color: red;"></i>
      <div id="hamburger-slide" style="display: none; height: 100vh;">
          <div style="position: absolute; top: 40%; left: 50%; transform: translate(-50%,-50%); height: 100vh;" id="hamburger-slide-part">
              <!-- <p style="color: black;">hello </p> -->


              <div id="varuna-img">
  
              </div>
          
              <div id="cross-icon">
                  <i class="fa-solid fa-xmark" style="color: red;"></i>
              </div>
          
              
              <nav id="menu">
                  <p class="menu-select">
                      <a href="index.html" class="menu-select">Home</a>
                  </p>
                  
                  <!-- <select name="menu" class="menu-select">
                      <option value="about"><a href="about-varuna.html">About Varuna</a></option>
                      <option value="about us">About us</option>
                  </select>
                  <select name="menu" class="menu-select">
                      <option value="product"><a href="product.html">Product</a></option>
                  </select>
                  <select name="menu" class="menu-select">
                      <option value="application"><a href="application.html">Application</a></option>
                  </select>
                  <select name="menu" class="menu-select">
                      <option value="career"><a href="career.html">Career</a></option>
                  </select>
                  <select name="menu" class="menu-select">
                      <option value="media"><a href="media.html">Media</a></option>
                  </select> -->
          
          
          
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" id="drop" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About varuna
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="about-varuna.html">About Varuna</a></li>
                        <li><a class="dropdown-item" href="about-company.html">About us</a></li>
                        <li><a class="dropdown-item" href="bod.html">Board Of Directors</a></li>
                        <li><a class="dropdown-item" href="milestone.html">Milestone</a></li>
                        <li><a class="dropdown-item" href="infrastructure.html">Infrastructres</a></li>
                        <li><a class="dropdown-item" href="company-policy.html">Company Policies</a></li>
                        <li><a class="dropdown-item" href="quality-policy.html">Quality Policy</a></li>
                      </ul>
                    </div>
          
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" id="drop" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Products.html">Products</a></li>
                        <li><a class="dropdown-item" href="Borewell Submersible.html">Borewell Submersible <br> Pumps</a></li>
                        <li><a class="dropdown-item" href="Openwell Submersible.html">Openwell Submersible <br> Pumps</a></li>
                        <li><a class="dropdown-item" href="Centrifugal Monoblock.html">Centrifugal Monoblock <br> Pumps</a></li>
                        <li><a class="dropdown-item" href="Energy Efficent-Induction.html">Energy Efficent-Induction <br> Mototrs</a></li>
                        <li><a class="dropdown-item" href="Centrifugal Regenerative.html">Centrifugal Regenerative <br> Self Priming Pumps</a></li>
                        <li><a class="dropdown-item" href="Solar Pumping System.html">Solar Pumping System</a></li>
                      </ul>
                    </div>
          
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" id="drop" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Applications
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Agriculture.html">Agriculture</a></li>
                        <li><a class="dropdown-item" href="Commercial.html">Commercial</a></li>
                        <li><a class="dropdown-item" href="Domestic&residental.html">Domestic / Residental</a></li>
                        <li><a class="dropdown-item" href="Industrial.html">Industrial</a></li>
                        <li><a class="dropdown-item" href="Solar.html">Solar</a></li>
                      </ul>
                    </div>
          
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" id="drop" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Career
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Career.html">Career</a></li>
                        <li><a class="dropdown-item" href="Job-openings.html">Job Openings</a></li>
                        <li><a class="dropdown-item" href="Life-at-varuna.html">Life At Varuna</a></li>
                      </ul>
                    </div>
          
          
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" id="drop" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Media
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Media.html">Media</a></li>
                        <li><a class="dropdown-item" href="Events.html">Events</a></li>
                        <li><a class="dropdown-item" href="News.html">News</a></li>
                        <li><a class="dropdown-item" href="Gallery.html">Gallery</a></li>
                      </ul>
                    </div>
          
          
                  <p class="menu">
                      <a href="csr.html" class="menu-select">CSR</a>
                  </p>
          
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" id="drop" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Contact
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Contact.html">Contact</a></li>
                        <li><a class="dropdown-item" href="Address.html">Addresses</a></li>
                        <li><a class="dropdown-item" href="Service-center.html">Service Center</a></li>
                        <li><a class="dropdown-item" href="Complaint-form.html">Complaint Form</a></li>
                        <li><a class="dropdown-item" href="Warranty-registraion.html">Warranty Registration</a></li>
                        <li><a class="dropdown-item" href="Write-to-us.html">Write To Us</a></li>
                      </ul>
                    </div>
                 </div>
          
                 <div class="shop-cart">
                  <p class="s-c"><a href="" style="text-decoration: none; color: red;">Shop</a></p>
                  <p class="s-c"><a href="addtocart.html" style="text-decoration: none; color: red;">Add to Cart</a></p>
                  </div>
          
                  <!-- <select name="menu" class="menu-select">
                      <option value="contact"><a href="contact.html">Contact</a></option>
                  </select> -->
          
          
              </nav>
          
              <div id="reg-log">
                <p class="sign"><a href="suggestion.html" style="text-decoration: none; color: red;">Suggestion</a></p>
                <p class="sign"><a href="login.html" style="text-decoration: none; color: red;">Login</a></p>
              </div>
          </div>
      </div>

  </div>
    </section>

    <!-- section ends here -->


    <main>

        <div style="background-color: grey; width: 100vw; height: 250px; background-size: contain; opacity: 0.8;">
            <h3 style="color: white; text-align: center;padding-top: 90px;">Company Policy
            </h3>
            <div style="color: white; text-align: center; font-size: 20px; font-weight: 500;"><a href="index.html"
                    style="color: white; text-decoration: none; text-align: center;">Home</a> | <a
                    href="about-varuna.html" style="color: white; text-decoration: none; text-align: center;">About
                    Varuna</a> | <a href="company-policy.html"
                    style="color: white; text-decoration: none; text-align: center;">Company Policies</a></div>
        </div>



        <div id="main1">


            <div class="main-1part">
                <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                    <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                            style=" color: red; font-size: 70px;"></i></a>
                </div>

                <a href="term&condi-1.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>


                <div class="main-1txt"> <!--1st-->
                    <h4>Terms and Conditions</h4>
                    <h4>of appointment of <span style="color: red;">Independent Directors</span></h4>
                    <p>Terms and conditions of appointment of Independent Directors The broad terms and conditions with
                        regards to the appointment, termination, duties, remuneration, time commitment, and other
                        crucial aspects of Independent Directors at Varuna Pumps are explained here in detail.
                    </p>
                </div>

            </div>


        </div>



        <div class="main-1part" style="margin-top: -250px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="Whistle-Blower-Policy.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--2nd-->
                <h4>Whistle Blower <span style="color: red;">Policy</span></h4>
                <p>Varuna Pumps lays down the principles and standards that shall be carried out in order to maintain
                    the vigil mechanism of our Whistleblower Policy and they’re all enlisted here.
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -410px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="csr-POLICY.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--3rd-->
                <h4>CSR <span style="color: red;">Policy</span></h4>
                <p>As a responsible corporate entity, Varuna Pump pledges to stay aligned with its objectives, annual
                    action plan of the total CSR activities to be conducted, and other formulation, as well as
                    implementation details, are explained here.
                </p>
            </div>

        </div>



        <div class="main-1part" style="margin-top: -410px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="EHS-Policy-New.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--4th-->
                <h4>EHS <span style="color: red;">Policy</span></h4>
                <p>At Varuna Pumps, we are committed to complying with all the mandatory and required legislation with
                    regards to environmental, occupational health safety
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -410px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="Energy-Policy.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--5th-->
                <h4>Energy <span style="color: red;">Policy</span></h4>
                <p>Our dedication and commitment towards the nation’s mission for enhanced energy efficiency as well as
                    benchmarking all our products to the highest energy standards and our ways to achieve them are
                    enlisted here.
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -410px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="Nomination-.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--6th-->
                <h4>Nomination &</h4>
                <h4 style="color: red;">Remuneration Policy</h4>
                <p>Our dedication and commitment towards the nation’s mission for enhanced energy efficiency as well as
                    benchmarking all our products to the highest energy standards and our ways to achieve them are
                    enlisted here.
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -380px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="Bio-medical-Waste.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--7th-->
                <h4>Bio-medical Waste</h4>
                <h4 style="color: red;">Annual Policy</h4>
                <p>At Varuna Pumps, we propagate transparency, and with this policy of rolling out Biomedical waste
                    reports annually, we are doing our bit to introspect and acknowledge our contribution.
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -380px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="itpolicy.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--8th-->
                <h4>IT <span style="color: red;">Policy</span></h4>
                <!-- <h4 style="color: red;">Annual Policy</h4> -->
                <p>The technicalities, rules, regulations, do’s and don’ts of our IT systems at Varuna Pumps is taken
                    with utmost sincerity and the details of it are enlisted here.
                </p>
            </div>

        </div>



        <div class="main-1part" style="margin-top: -420px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="Composition-of-CSR-Policy-1.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--9th-->
                <h4>Composition Of <span style="color: red;">CSR Policy</span></h4>
                <!-- <h4 style="color: red;">Annual Policy</h4> -->
                <p>At Varuna Pumps, the entire composition of the members in the CSR Committee and their overall powers
                    at that level is written down here in a brief manner.
                </p>
            </div>

        </div>



        <div class="main-1part" style="margin-top: -400px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="csrprojects.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--10th-->
                <h4>CSR Projects Approved <span style="color: red;">by the Board-FY 2020-2021</span></h4>
                <!-- <h4 style="color: red;">Annual Policy</h4> -->
                <p>Varuna Electricals is a socially responsible organization that focuses on achieving sustainable
                    growth. The organization gives importance to morals
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -400px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="privacypolicy.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--11th-->
                <h4>Privacy <span style="color: red;">Policy</span></h4>
                <!-- <h4 style="color: red;">Annual Policy</h4> -->
                <p>We at Varuna, are devoted to preserving the privacy and security of your personal data. We process
                    the personal data collected during visits to our websites only in accordance to the legal provisions
                    of India.
                </p>
            </div>

        </div>



        <div class="main-1part" style="margin-top: -400px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="privacypolicy (1).pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--12th-->
                <h4>CSR Annual Action <span style="color: red;">Plan for FY 2021-22</span></h4>
                <!-- <h4 style="color: red;">Annual Policy</h4> -->
                <p>Varuna is focused on making a positive impact on society. We have a detailed annual action plan to
                    help us in enriching the life of all our stakeholders and the society at large.
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -400px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="Annual-Return_FY-2020-21.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--13th-->
                <h4>LGM Annual <span style="color: red;">LGM Annual Return 2020-21</span></h4>
                <!-- <h4 style="color: red;">Annual Policy</h4> -->
                <p>At Varuna, we are committed to maintaining an ethical and fair business environment by maintaining
                    transparency and openness at all operational levels. We ensure to provide up-to-date information
                    about our investments, management and company ownership.
                </p>
            </div>

        </div>




        <div class="main-1part" style="margin-top: -340px;">
            <div class="main-1txt" style="margin-top: 50px; padding-left: 150px; visibility: hidden;">
                <a href="term&condi-1.pdf"><i class="fa-solid fa-file-pdf"
                        style=" color: red; font-size: 70px;"></i></a>
            </div>

            <a href="Annual-Return_FY-2021-22-2.pdf" style="margin-left: -260px;"><i class="fa-solid fa-file-pdf"
                    style=" color: red; font-size: 70px;"></i></a>


            <div class="main-1txt"> <!--14th-->
                <h4>LGM Annual <span style="color: red;">LGM Annual Return 2021-22</span></h4>
                <!-- <h4 style="color: red;">Annual Policy</h4> -->
                <p>At Varuna, we are committed to maintaining an ethical and fair business environment by maintaining
                    transparency and openness at all operational levels. We ensure to provide up-to-date information
                    about our investments, management and company ownership.
                </p>
            </div>

        </div>



    </main>




    <footer style="margin-top: 100px;">

        <div class="footer-part" style="margin-top: -370px;">

            <div class="footer-5div">

                <div class="footer-5things" style="background-color: transparent;">
                    <h4>Quick Links</h4>
                    <a href="index.html" class="footertxt">Home</a>
                    <a href="about-varuna.html" class="footertxt">About Varuna</a>
                    <a href="Career.html" class="footertxt">Career</a>
                    <a href="Contact.html" class="footertxt">Contact</a>
                    <a href="csr.html" class="footertxt">CSR</a>
                </div>


                <div class="footer-5things" style="background-color: transparent;">
                    <h4>Products</h4>
                    <a href="Energy Efficent-Induction.html" class="footertxt">Induction Motors</a>
                    <a href="Borewell Submersible.html" class="footertxt">Submersible Pupms</a>
                    <a href="Centrifugal Monoblock.html" class="footertxt">Monoblock Pumps</a>
                    <a href="Centrifugal Regenerative.html" class="footertxt">Self-Priming Pumps</a>
                    <a href="Solar Pumping System.html" class="footertxt">Solar Pumps</a>
                </div>

                <div class="footer-5things" style="background-color: transparent;">
                    <h4>Application</h4>
                    <a href="Agriculture.html" class="footertxt">Agriculture</a>
                    <a href="Commercial.html" class="footertxt">Commercial</a>
                    <a href="Domestic&residental.html" class="footertxt">Domestic / Residental</a>
                    <a href="Industrial.html" class="footertxt">Industrial</a>
                    <a href="Solar.html" class="footertxt">Solar</a>
                </div>

                <div class="footer-5things" style="background-color: transparent;">
                    <h4>Media</h4>
                    <a href="Events.html" class="footertxt">Events</a>
                    <a href="News.html" class="footertxt">News</a>
                    <a href="Gallery.html" class="footertxt">Gallery</a>
                </div>


                <div class="footer-5things" style="background-color: transparent;">
                    <h4>Contact</h4>

                    <p>La-Gajjar Machineries Pvt. Ltd.
                        CIN :: U17110GJ1981PTC004263
                    </p>

                    <p>Acidwala estate, Nagarwel Hanuman Road, Amraiwadi, Ahmedabad - 380 026 Gujarat. (INDIA)
                    </p>
                </div>

            </div>

        </div>


        <div class="footer2">

            <div class="footer-lastsection" style="background-color: transparent;">
                <p style="padding-left: 25px;">Toll free</p>
                <i class="fa-solid fa-phone" style="color: red;"></i> <span style="color: red;">1800 258 2565
                </span>
            </div>


            <div class="footer-lastsection" style="background-color: transparent;">
                <p style="padding-left: 25px;">Contact</p>
                <i class="fa-solid fa-phone" style="color: red;"></i> <span style="color: red;">+91-79-22777485 / 487
                </span>
            </div>


            <div class="footer-lastsection" style="background-color: transparent;">
                <p style="padding-left: 25px;">Mail us</p>
                <i class="fa-regular fa-envelope" style="color: red;"></i> <span style="color: red;">crm@lgmindia.com
                </span>
            </div>


            <div class="footer-lastsection" style="background-color: transparent;">
                <i class="fa-brands fa-facebook-f" id="footer-icons"></i>
                <i class="fa-brands fa-linkedin-in" id="footer-icons"></i>
                <a href="https://www.instagram.com/varunaelectric?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                    style="color: black;"><i class="fa-brands fa-instagram" id="footer-icons"></i></a>
                <a href="https://youtube.com/@varunapumps?si=RJ2O2EUKYH3WRSbz" style="color: black;"><i
                        class="fa-brands fa-youtube" id="footer-icons"></i></a>
            </div>


        </div>

        <div style="height: 100px;">
            <p style="padding-left: 40px; padding-top: 30px;">Copyright © 2024 La-Gajjar Machineries Pvt.Ltd. All Rights
                reserved.</p>

        </div>


    </footer>






    <div id="back-top">
        <a href="#"><i class="fa-solid fa-chevron-up" style="font-size: 15px; color: white;"></i></a>
    </div>




</body>

</html>